

.sidenav{
    position: fixed;
    height: 150px;
    top: calc(50vh - 70px);
    left: 1rem;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
    
    .item{
        display: flex;
        align-items: center;
        position: relative;
        text-decoration: none;
        color: #fff;
        
        
        .dot{
            height: 0.6rem;
            width: 0.6rem;
            border-radius: 50%;
            background-color: rgb(183, 180, 180);

        }
        &:hover{
            .toggle{
                opacity: 1;
                visibility: visible;
                height: 2rem;

            }
        }
        .toggle{
            position: absolute;
            left: 0;
            width: 10rem;
            background-color: rgb(140, 82, 255);
            color: #fff;
            border-radius: 0.9rem;
            overflow: hidden;
            opacity: 0;
            visibility: hidden;
            height: 0;
            transition: 0.3s;
           .wrapper{
            width: 10rem;
            display: flex;
            
            height: 2rem;
            justify-content: center;
            align-items: center;
            span{
                font-size: 1.1rem;

            }

           } 
        }
    }
    
}
@media (max-width:700px) {
    .sidenav{
        display: none;
    }
    
}