

.cirtification{
    margin: 3rem auto;
    display: flex;
    padding: 2rem;
    column-gap: 2rem;
    width: 75%;
    box-shadow: 0 0 2rem rgba($color: #000000, $alpha: 0.2);
    border-radius: 0.9rem;


    .imgContain{
        img{
            height: 4rem;

        }
    }
    .textContain{
        flex: 1;
        display: flex;
        flex-direction: column;
        row-gap: 1rem;
        .tittle{
            font-size: 1rem;
                    font-weight: 600;
                    color: #605e5e;

        }
        .headin{
            font-size: 1.3rem;
            font-weight: 800;

        }
        .text{
            font-size: 0.94rem;

        }
        .sign{
            display: flex;
            flex-direction: column;
            align-items: start;
            .imgContainer{
                margin-top: 2rem;
                display: flex;
                justify-content: center;
                align-items: center;

                img{
                    height: 4rem;

                }
            }
            .name{
                font-size: 1.1rem;
                font-weight: 600;

            }
            .identity{
                font-size: 0.8rem;
                font-weight: 600;

            }

        }
    }
}